form {
    padding: 5px;
    margin: 5px;
    /*text-align: center;*/
    /*background: rgb(235, 136, 136);*/
}

div {
    padding: 5px;
    margin: 5px;
    align-content: flex-end;
    border: 3px solid brown;
    border-radius: 22px;
    border-radius: 10px 0px 39px 22px;
}

.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}
